{$SR_PROTO}://{$SR_HOST} {

    handle_path /streams/* {
        reverse_proxy http://video-gateway:80 {
            header_up X-Real-IP {remote}
        }
    }
    
    reverse_proxy http://sr-admin-gui:80 {
            header_up X-Real-IP {remote}
    }

	respond /api/tokens/* "Access denied" 403 {
	close
}


}
